<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WebTech-Unit</title>
    <link rel="stylesheet" th:href="@{/myStyles.css}"  >
</head>
<body>

    <section>
        <div class="container">
            <div class="header">
                <div class="head">
                    <h2>Academic System</h2>
                    <small>Manage Academic units</small>
                </div>
                <a th:href="@{/}" class="backBtn">Back</a>
            </div>

            <div class="semester">
                <div class="view">
                    <table>
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Parent</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="unit:${unitList}">
                            <td th:text="${unit.code}"></td>
                            <td th:text="${unit.name}"></td>
                            <td th:text="${unit.unit}"></td>
                            <td>
                                <span th:if="${unit.parent}">[[${unit.parent.name}]]</span>
                                <span th:unless="${unit.parent}">--Parent--</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="actions">
                    <div class="tabs">
                        <div class="radio-selector">
                            <input type="radio" id="pro" name="radio-group" />
                            <label for="pro">Programme</label>
                        </div>
                        <div class="radio-selector">
                            <input type="radio" id="fac" name="radio-group" />
                            <label for="fac">Faculty</label>
                        </div>
                        <div class="radio-selector">
                            <input type="radio" id="dep" name="radio-group" />
                            <label for="dep">Department</label>
                        </div>
                    </div>
                    <div  class="data" id="pro-data">
                        <div class="hd">
                            <h3>Add Programme</h3>
                        </div>
                        <form th:action="saveParentUnit" method="post" th:object="${programmeForm}">
                            <div class="form-input">
                                <label for="programme">Programme Name</label>
                                <input type="text" name="programme" id="programme" th:field="*{name}" />
                            </div>
                            <button type="submit">Submit</button>
                        </form>
                    </div>

                    <div class="data" id="fac-data" style="display: none">
                        <div class="hd">
                            <h3>Add Faculty</h3>
                        </div>
                        <form action="saveFacultyUnit" method="post" th:object="${facultyForm}">
                            <div class="form-input">
                                <label for="programme2">Choose Programme</label>
                                <select name="programme" id="programme2" th:field="*{parent.name}">
                                    <option value="null">Select Programme</option>
                                    <th:block th:each="p : ${unitList}">
                                        <option th:if="${p.unit.name == 'PROGRAMME'}" th:value="${p.name}">
                                            [[${p.name}]]
                                        </option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="form-input">
                                <label for="faculty">Faculty Name</label>
                                <input type="text" name="faculty" id="faculty" th:field="*{name}" />
                            </div>
                            <button type="submit">Submit</button>
                        </form>
                    </div>

                    <div class="data" id="dep-data" style="display: none">
                        <div class="hd">
                            <h3>Add Department</h3>
                        </div>
                        <form action="saveDepartmentUnit" method="post" th:object="${departmentForm}">
                            <div class="form-input">
                                <label for="faculty1">Choose Faculty</label>
                                <select name="faculty" id="faculty1" th:field="*{parent.name}">
                                    <option value="null">Select Faculty</option>
                                    <th:block th:each="f : ${unitList}">
                                        <option th:if="${f.unit.name == 'FACULTY'}" th:value="${f.name}">
                                            [[${f.name}]]
                                        </option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="form-input">
                                <label for="department">Department Name</label>
                                <input type="text" name="department" id="department" th:field="*{name}" />
                            </div>
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

<script defer>
    const messages = document.querySelectorAll(".msg");
    messages.forEach((small) => {
        if(small.textContent.trim() === ''){
            small.style.display = 'none';
        }
    });


    // Get references to the radio buttons and data containers
    const radioButtons = document.querySelectorAll('input[name="radio-group"]');
    const dataContainers = document.querySelectorAll(".data");

    // Add an event listener to each radio button
    radioButtons.forEach((radioButton) => {
        radioButton.addEventListener("change", (event) => {
            // Hide all data containers
            dataContainers.forEach((container) => {
                container.style.display = "none";
            });

            // Show the related data container for the selected radio button
            if (event.target.checked) {
                const relatedDataContainer = document.getElementById(
                    event.target.id +"-data"
                );
                if (relatedDataContainer) {
                    relatedDataContainer.style.display = "block";
                }
            }
        });
    });

    const preCheckedRadioButton = document.querySelector('input[name="radio-group"]:checked');
</script>